---
const year = new Date().getFullYear();
---
<footer>
    <p class="copy">&copy; Copyright {year}</p>
    <p class="copy">Built by Olabissi Gbangboche with <a target="_blank" href="https://astro.build/">Astro</a></p>
</footer>
